img#manageSearchIcon {
    /* Do not show on large screen */
    display: none;

    /* Positioning */
    position: absolute;
    
    /* Spacing */
    box-sizing: content-box;
    width: 28px;
    padding: 1px 3px 3px 3px;
    margin: 0;

    /* Appearance */
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 2px 0px 0px 2px;
    background-color: transparent;

    /* Other */
    cursor: pointer;
    transition: 0.3s ease-in;
}

img#manageSearchIcon[position="translate"] {
    background-color: var(--leftPaneBgColor);
    border-color: var(--buttonNormalColor);
    box-shadow: -2px 4px 4px 0px RGBa(0, 0, 0, 0.05);
    width: 28px;
    z-index: 102;
    right: 340px;
}


@media (max-width: 768px) {
    img#manageSearchIcon {
        display: inline;
        width: 28px;
        padding: 2px 3px;
        top: 11px;
        right: 40px;
    }
}

@media (max-width: 576px) {
    img#manageSearchIcon {
        top: 6px;
        right: var(--margin);
    }
}

@media (max-width: 400px) {
    img#manageSearchIcon[position="translate"] {
        right: calc(100% - 35px);
        border-color: transparent;
    }
}


/* DEVICE MOBILE */

img#manageSearchIcon[ismobileonly="true"] {
    display: inline;
    width: 28px;
    padding: 2px 3px;
    top: 11px;
    right: var(--margin);
}

img#manageSearchIcon[ismobileonly="true"][position="translate"] {
    background-color: var(--leftPaneBgColor);
    border-color: var(--buttonNormalColor);
    box-shadow: -2px 4px 4px 0px RGBa(0, 0, 0, 0.05);
    width: 28px;
    z-index: 102;
    right: 340px;
}

@media (max-width: 768px) {
    img#manageSearchIcon[ismobileonly="true"] {
        right: 40px;
    }
}

@media (max-width: 576px) {
    img#manageSearchIcon[ismobileonly="true"] {
        top: 6px;
        right: var(--margin);
    }
}

@media (max-width: 400px) {
    img#manageSearchIcon[ismobileonly="true"][position="translate"] {
        right: calc(100% - 35px);
        border-color: transparent;
    }
}