#homeSearchForm {
    height: 100vh;
    width: 100%;
    
    /* Background */
    background-image: url('../../images/pexels-pham-quy-9930746.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    overscroll-behavior-y: none;
    position: fixed;
    overflow: hidden;
}


/* MEDIA QUERIES */

@media (max-width: 576px) and (max-height: 475px) {
    #homeSearchForm[isdesktop="true"] {
        height: fit-content;
        position: static;
    }
    #homeSearchForm[isdesktop="true"] #banner {
        position: static;
    }
    #homeSearchForm[isdesktop="true"] footer {
        position: static !important;
    }
    #homeSearchForm[isdesktop="true"] #firstQueryForm {
        height: 353px;
        padding-top: 60px;
    }
}

@media (min-width: 577px) and (max-width: 768px) and (max-height: 609px) {
    #homeSearchForm[isdesktop="true"] {
        height: fit-content;
        position: static;
    }
    #homeSearchForm[isdesktop="true"] #banner {
        position: static;
    }
    #homeSearchForm[isdesktop="true"] footer {
        position: static !important;
    }
    #homeSearchForm[isdesktop="true"] #firstQueryForm {
        height: 483px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 769px) and (max-width: 992px) and (max-height: 623px) {
    #homeSearchForm[isdesktop="true"] {
        height: fit-content;
        position: static;
    }
    #homeSearchForm[isdesktop="true"] #banner {
        position: static;
        height: 62.3px;
    }
    #homeSearchForm[isdesktop="true"] footer {
        position: static !important;
    }
    #homeSearchForm[isdesktop="true"] #firstQueryForm {
        height: 521.7px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 993px) and (max-width: 1200px) and (max-height: 674px) {
    #homeSearchForm[isdesktop="true"] {
        height: fit-content;
        position: static;
    }
    #homeSearchForm[isdesktop="true"] #banner {
        position: static;
        height: 67.39px;
    }
    #homeSearchForm[isdesktop="true"] footer {
        position: static !important;
    }
    #homeSearchForm[isdesktop="true"] #firstQueryForm {
        height: 567.61px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 1201px) and (max-height: 783px) {
    #homeSearchForm[isdesktop="true"] {
        height: fit-content;
        position: static;
    }
    #homeSearchForm[isdesktop="true"] #banner {
        position: static;
        height: 156.59px;
    }
    #homeSearchForm[isdesktop="true"] footer {
        position: static !important;
    }
    #homeSearchForm[isdesktop="true"] #firstQueryForm {
        height: 587.41px;
        padding-top: 0;
        padding-bottom: 0;
    }
}


/* DEVICE: MOBILE */

#homeSearchForm[ismobileonly="true"] {
    overflow-y: auto;
}
#homeSearchForm[ismobileonly="true"][isfirefox="true"] {
    height: fit-content;
    overflow: hidden;
}


/* Landscape view */
@media (min-width: 577px) {
    #homeSearchForm[ismobileonly="true"] {
        height: fit-content !important;
        position: static;
    }
    #homeSearchForm[ismobileonly="true"] #banner {
        position: static;
    }
    #homeSearchForm[ismobileonly="true"] footer {
        position: static !important;
    }
    #homeSearchForm[ismobileonly="true"] #firstQueryForm {
        height: 483px !important;
        padding-top: 0;
        padding-bottom: 0;
    }
}