#researchPage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100vh;
}


@media (max-width: 768px) {
    #researchPage {
        max-height: unset;
        overflow: unset;
    }
}

@media (max-height: 700px) and (min-width: 769px) {
    #researchPage[istablet="false"][ismobileonly="false"] {
        height: 100%;
    }
}


/* DEVICE TABLET */

#researchPage[istablet="true"] {
    display: block;
    max-height: unset;
    width: 100%;
    position: fixed;
    overflow: hidden;
    overscroll-behavior: none;
    top: 0;
    left: 0;
    right: 0;
}

/* MOBILE PHONE */

#researchPage[ismobileonly="true"] {
    max-height: unset;
    overflow: unset;
}