#researchPage {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
}


@media (max-width: 768px) {
    #researchPage {
        max-height: unset;
        overflow: unset;
    }
}

/* DEVICE TABLET */

@media (max-width: 1200px) and (min-width: 769px) {
    #researchPage[istablet="true"] {
        display: block;
        max-height: unset;
        width: 100%;
        position: fixed;
        overflow: hidden;
        overscroll-behavior: none;
        top: 0;
        left: 0;
        right: 0;
    }
}