@media (max-width: 1200px) {
    #tableOfContentsStatic {
        display: none;
    }
}

@media (max-height: 700px) {
    #tableOfContentsStatic[isdesktop="true"] {
        height: 560px;
    }
}

/* TABLET */

#tableOfContentsStatic[istablet="true"] {
    height: 100%;
}


/* MOBILE PHONE */

#tableOfContentsStatic[ismobileonly="true"] {
    display: none;
}