.important {
    color: var(--verseAccentColor);
    white-space: nowrap;
}

.bracket {
    white-space: nowrap;
}


/* Regarding the font-size, look in ReaderText/styles.css */
/* This is put apart because it depends on the type of device */