#readerChapterTitle {
    padding-top: 40px;
    padding-bottom: 16px;
    padding-right: var(--margin);
    height: 96px;
}

#readerChapterTitle h2 {
    padding-left: 56px;
}

#readerChapterTitle h2 span {
    font-family: 'Tangerine', 'Crimson Text', serif;
    font-size: 3.6rem;
}

#readerChapterTitle.smallScreen {
    display: none;
}


@media (max-width: 1200px) {
    #readerChapterTitle h2 {
        padding-left: var(--margin);
    }
}

@media (max-width: 992px) {
    #readerChapterTitle {
        padding-top: 32px;
        padding-bottom: 8px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    #readerChapterTitle {
        padding-top: 24px;
        height: 68px;
    }
    #readerChapterTitle h2 span {
        font-size: 3.3rem;
    }
}

@media (max-width: 576px) {
    #readerChapterTitle {
        height: 67px;
    }
    #readerChapterTitle h2 span {
        font-size: 3.1rem;
    }
}


/* DEVICE MOBILE */

#readerChapterTitle[ismobileonly="true"] {
    padding-top: 24px;
    height: 68px;
}

#readerChapterTitle[ismobileonly="true"] h2 {
    text-align: center;
}

#readerChapterTitle[ismobileonly="true"] h2 span {
    font-family: 'Crimson Text', serif !important;
    font-size: 2rem !important;
    line-height: 3.3rem !important;
}


@media (max-width: 576px) {
    #readerChapterTitle[ismobileonly="true"] {
        height: 67px;
    }
}