#researchFrame {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    position: relative;
}


/* MEDIA QUERIES */

@media (max-width: 1200px) {
    #researchFrame {
        height: 90vh;
        top: 0px;
    }
}

@media (max-width: 768px) {
    #researchFrame {
        height: fit-content;
        top: 133px;
    }
}

@media (max-width: 576px) {
    #researchFrame {
        top: 129px;
    }
}

@media (max-height: 700px) and (min-width: 1201px) {
    #researchFrame[istablet="false"][ismobileonly="false"] {
        height: calc(100vh - 137px);
    }
}

@media (max-height: 700px) and (min-width: 769px) and (max-width: 1200px) {
    #researchFrame[istablet="false"][ismobileonly="false"] {
        height: calc(100vh - 70px);
    }
}


/* DEVICE TABLET */

#researchFrame[istablet="true"] {
    height: calc(100% - 80px);
}

/* MOBILE PHONE */

@media (max-width: 1200px) {
    #researchFrame[ismobileonly="true"] {
        height: fit-content;
        padding-top: 133px;
    }
}

@media (max-width: 768px) {
    #researchFrame[ismobileonly="true"] {
        height: fit-content;
        top: 133px;
        padding-top: 0px;
    }
}

@media (max-width: 576px) {
    #researchFrame[ismobileonly="true"] {
        top: 129px;
    }
}