#bibleReaderPage {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#bibleReeaderPage[ismobileonly="false"] {
    max-height: 100vh;
}


@media (max-width: 768px) {
    #bibleReaderPage {
        max-height: unset;
    }
}


/* DEVICE TABLET */

#bibleReaderPage[istablet="true"] {
    display: block;
    max-height: unset;
}